@import 'styles';

.app-container {
  background: url('https://win.heart.co.uk/starwars-galaxy/img/bg-fallback.jpg') no-repeat center
    center fixed;
  height: 100vh;
  width: 100vw;
  font-family: arial;
  color: white;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    border: 0.2rem solid $primary-color;
    padding: 1rem;
    box-sizing: border-box;
    overflow: hidden;
    width: 80%;
    height: 60%;
  }
}

// IPAD
@media (min-width: 768px) {
  .app-container {
    .wrapper {
      width: 60%;
      height: 60%;
    }
  }
}

// NOTEBOOK
@media (min-width: 1024px) {
}
