@import 'styles';

.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('https://win.heart.co.uk/starwars-galaxy/img/bg-fallback.jpg') no-repeat center
    center fixed;
  height: 100vh;
  width: 100vw;
  font-family: arial;
  color: white;
  font-size: 1rem;

  .wrapper {
    border: 0.2rem solid white;
    padding: 1rem;
  }
}
